#btn-picture{
    font-size: 60px;
    color: #fff;
    background-color: #8ec5ff;
    border-radius: 5%;
    border-color: #fff;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: all 0.3s;
}

#btn-picture:hover{
    background-color: #0056b3;
    transition: all 0.3s;
}


.profile-header {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .profile-picture {
    text-align: center;
  }
  
  .profile-info {
    padding-top: 10px;
  }
  
  .posts {
    margin-top: 20px;
  }
  
  .post {
    padding: 5px;
  }